<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img class="logo" src="/images/logo.png" alt="Logo">
            <apan class="logo-text">CodeQuake</apan>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigationBar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navigationBar">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contests">Contests</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/practice">Practice</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blogs">Blogs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/editorials">Editorials</a>
                </li>

                <% if (locals.user){ %> 
                <li class="nav-item">
                    <a class="nav-link" href="/user/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/logout">Logout</a>
                </li>
                <% }else { %> 
                <li class="nav-item">
                    <a class="nav-link" href="/user/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/signup">Sign Up</a>
                </li>
                <% } %> 

            </ul>
        </div>
    </div>
</nav>