<%- include("partials/header.ejs") %>

    <div class="login-container">
        <form action="/user/login" method="post">
            <img src="/images/logo.png" alt="Logo">

            <h2>CodeQuake Login</h2>

            <div class="social-container">
                <a href="#"><span class="fa-brands fa-facebook-f"></span></a>
                <a href="#"><span class="fa-brands fa-google"></span></a>
                <a href="#"><span class="fa-brands fa-linkedin-in"></span></a>
            </div>

            <span>or use your account</span> <br>   

            <input type="email" placeholder="Email" name="email">
            <input type="password" placeholder="Password" name="password"> <br>

            <a href="#">Forgot your password?</a> <br>

            <button type="submit">Log In</button>
        </form>
    </div>


<%- include("partials/footer.ejs") %> 